<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <title>Pop Culture Critic</title>
    <link rel='stylesheet' href='/css/jass.cs' />
    <link rel='stylesheet' href='/public/css/style.css' />
  </head>

  <body>
    <div class='flex-column justify-space-around'>
      <header class='display-flex justify-space-between align-center p-2'>
        <h1>
          Pop Culture Critic
        </h1>
      </header>
      <main class='container container-fluid mt-5'>
        {{{body}}}
      </main>
    </div>
  </body>

</html>
