<html lang='en'>
    <head>
        <meta charset='UTF-8'>
        <title>Pop Culture Critic</title>
        <link rel='stylesheet' href='/public/css/style.css'>
    </head>

    <body>

    </body>

</html>