<html lang='en'>
    <head>
        <meta charset='UTF-8'>
        <title>Pop Culture Critic</title>
        <link rel='stylesheet'  href='/css/style.css'>
    
        <link rel="stylesheet" href="/css/loginModal.css"> 



    </head>

    <body>
<h1>This is the main layout</h1>
{{{body}}}
    </body>

</html>
