<div class="row justify-space-between-md"></div>
<div class="review-card">
  <h2 class="page-title">Write a Review</h2>
  <form class="form review-form">
    <h3>Title:</h3>
    <input
      class="form-input"
      type="text"
      placeholder="Enter title"
      id="rev-title"
    />

    <h3>Year:</h3>
    <input
      class="form-input"
      type="number"
      placeholder="Enter release year"
      id="year"
    />

    <h3>Creator:</h3>
    <input
      class="form-input"
      type="text"
      placeholder="Enter creator's name."
      id="rev-creator"
    />

    <h3>Choose a medium:</h3>
    <div class="radio-group">
      <label for="rev-book">
        <input
          class="form-input"
          type="radio"
          id="rev-book"
          value="Book"
          name="item-type"
        />
        Book</label>
      <label for="rev-video">
        <input
          class="form-input"
          type="radio"
          id="rev-video"
          value="Video"
          name="item-type"
        />
        Movie</label>

      <label for="rev-music">
        <input
          class="form-input"
          type="radio"
          id="rev-music"
          value="Music"
          name="item-type"
        />
        Music</label>
      <label for="rev-game">
        <input
          class="form-input"
          type="radio"
          id="rev-game"
          value="Game"
          name="item-type"
        />
        Game</label>
    </div>

    <h3>Review:</h3>
    <textarea
      class="form-input"
      type="text"
      placeholder="Write your review here!"
      id="rev-review"
    ></textarea>

    <h3>Rating:</h3>
    <div class="radio-group">
      <label for="rating-one">
        <input
          class="form-input"
          type="radio"
          id="rating-one"
          value="1"
          name="rating"
        />
        1</label>

      <label for="rating-two">
        <input
          class="form-input"
          type="radio"
          id="rating-two"
          value="2"
          name="rating"
        />
        2</label>
      <label for="rating-three">
        <input
          class="form-input"
          type="radio"
          id="rating-three"
          value="3"
          name="rating"
        />
        3</label>
      <label for="rating-four">
        <input
          class="form-input"
          type="radio"
          id="rating-four"
          value="4"
          name="rating"
        />
        4</label>

      <label for="rating-five">
        <input
          class="form-input"
          type="radio"
          id="rating-five"
          value="5"
          name="rating"
        />
        5</label>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>
  </form>
</div>

<script src="/js/form.js"></script>