* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

/*adding body css*/
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: black;
  background-size: cover;
  background-position: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

/*navigation area css styled*/
.navigation-bar a {
  position: relative;
  font-size: 1.4em;
  color: aliceblue;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}

.navigation-bar .login-btn {
  width: 130px;
  height: 50;
  background: transparent;
  border: 2px solid aliceblue;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.4em;
  color: aliceblue;
  font-weight: 500;
  margin-left: 40px;
  transition: 1s;
}

/*hovering effect with light up color*/
.navigation-bar a:hover {
  background-color: blueviolet;
}

.navigation-bar .login-btn:hover {
  background-color: blueviolet;
}

.pop-up-login {
  position: relative;
  width: 400px;
  height: 440px;
  background: whitesmoke;
  border: 2px solid #ffffff80;
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pop-up-login .login-area {
  width: 100%;
  padding: 40px;
}

.pop-up-login .login-area.login {
  transition: transform .10s;
  transform: translateX();

}

.pop-up-login.active .login {
  transition: none;
  transform: translateX(-400px);
}

.pop-up-login .create-account {
  position: absolute;
  transform: translateX(400px);
}




.pop-up-login .close-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  font-size: 2em;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-area h2 {
  font-size: 2em;
  color: black;
  text-align: center;
}

.input-area {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid black;
  margin: 30px 0;
}

.input-area label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: black;
  font-weight: 500;
  pointer-events: none;
  transition: 0.3s;
}

.input-area input:focus ~ label,
.input-area input:valid ~ label {
  top: -4px;
}

.input-area input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: black;
  font-weight: 600;
}

.input-area .icon {
  position: absolute;
  right: 9px;
  font-size: 1.2em;
  color: black;
  line-height: 55px;
}


/*changes styling of log in button from modal*/

.btn {
  width: 100%;
  height: 43px;
  background: black;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: whitesmoke;
  font-weight: 500;

}
.pop-up-login{
  display: none;

}
.create-account{
  display: none;
}

.container {
  width: 100%;
  min-height: 100vh;
  padding: 5%;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar {
  width: 100%;
  max-width: 700px;
  background: whitesmoke;
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px 20px;
}

.search-bar input {
  background: whitesmoke;
  flex: 1;
  border: 0;
  outline: none;
  padding: 24px 20px;
  font-size: 20px;
  color: black;
}

::placeholder {
  color: black;
}

.search-bar .bx .bxs-lock-alt {
  width: 25px;
}

.search-bar button {
  border: 0;
  border-radius: 49%;
  width: 59px;
  height: 59px;
  background-color: silver;
  cursor: pointer;
}

.container-review-btn {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.write-review-btn {
  padding: 10px 60px;
  background: whitesmoke;
  border: 0;
  outline: none;
  cursor: pointer;
  font-size: 21px;
  font-weight: 499;
  border-radius: 10px;
  transition: transform 1s;
}

.write-review-btn:active {
  transform: scale(0.90);
}

.popup {
  width: 399px;
  background: whitesmoke;
  border-radius: 6px;
  position: absolute;
  top: 49%;
  left: 49%;
  transform: translate(-49% 49%);
  text-align: center;
  padding: 0 29px 59px;
  color: whitesmoke;
}

.popup button {
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background-color: whitesmoke;
  color: black;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;

}