* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

/*adding body css*/
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: black;
}

/* Here is the CSS for the header background where the navbar and 
log in button goes */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* brings navbar towards the right. */
  z-index: 99;
}

/*navigation area css styled*/
.navigation-bar a {
  position: relative;
  font-size: 1.4em;
  color: whitesmoke;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}
/* Here is where css is applied for both navigation bar and log in button*/
.navigation-bar .login-btn {
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid whitesmoke;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.4em;
  color: whitesmoke;
  font-weight: 500;
  margin-left: 40px;
  transition: 2s;
}

/*hovering effect with light up color for navbar and log in button*/
.navigation-bar a:hover {
  background-color: blueviolet;
}

.navigation-bar .login-btn:hover {
  background-color: blueviolet;
}

/* This is css for the popup modal to log in */
.pop-up-login {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: height 0.3s ease;
}

.pop-up-login .modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  position: relative;
}

.pop-up-login.active {
  height: 510px;
}

.pop-up-login .login-area {
  width: 100%;
  padding: 40px;
  display: none;
}

.pop-up-login .login-area.login {
  transition: transform 0.16s ease;
  transform: translateX(0);
}

.pop-up-login .login-area.active {
  display: block;
}

.pop-up-login.active .login-area.login {
  transition: none;
  transform: translateX(-400px);
}

.pop-up-login .create-account {
  position: absolute;
  transition: none;
  transform: translateX(400px);
}

.pop-up-login.active .login-area.create-account {
  transition: transform 0.16s ease;
  transform: translateX(0);
}

/* css for the x logo on the modal */
.pop-up-login .close-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  font-size: 2em;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Login title on modal */
.login-area h2 {
  font-size: 2em;
  color: black;
  text-align: center;
}

.input-area {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid black;
  margin: 30px 0;
}

/* Email and password words on modal */
.input-area label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: black;
  font-weight: 500;
  pointer-events: none;
  /* The transistion when moving pointer or hovering from email to password*/
  transition: 0.3s;
}

.input-area input:focus ~ label,
.input-area input:valid ~ label {
  top: -4px;
}

.input-area input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: black;
  font-weight: 600;
  padding: 0 33px 0 5px;
}

/* css for email and password logos */
.input-area .icon {
  position: absolute;
  right: 9px;
  font-size: 1.2em;
  color: black;
  line-height: 55px;
}

/*changes styling of log in button from modal*/

.btn {
  width: 100%;
  height: 43px;
  background: black;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: whitesmoke;
  font-weight: 500;
}
.pop-up-login {
  display: none;
}
.create-account {
  display: none;
  color: grey;
  position: absolute;
}

.container {
  width: 100%;
  min-height: 100vh;
  padding: 5%;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* This is all css for search bar from line 220-304 */
.search-bar {
  width: 100%;
  max-width: 700px;
  background: whitesmoke;
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px 20px;
}

.search-bar input {
  background: whitesmoke;
  flex: 1;
  border: 0;
  outline: none;
  padding: 24px 20px;
  font-size: 20px;
  color: black;
}

::placeholder {
  color: black;
}

.search-bar .bx .bxs-lock-alt {
  width: 25px;
}

.search-bar button {
  border: 0;
  border-radius: 49%;
  width: 59px;
  height: 59px;
  background-color: silver;
  cursor: pointer;
}

.container-review-btn {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.write-review-btn {
  padding: 10px 60px;
  background: whitesmoke;
  border: 0;
  outline: none;
  cursor: pointer;
  font-size: 21px;
  font-weight: 499;
  border-radius: 10px;
  transition: transform 1s;
}

.write-review-btn:active {
  transform: scale(0.9);
}

.popup {
  width: 399px;
  background: whitesmoke;
  border-radius: 6px;
  position: absolute;
  top: 49%;
  left: 49%;
  transform: translate(-49% 49%);
  text-align: center;
  padding: 0 29px 59px;
  color: whitesmoke;
  overflow: auto;
}

.popup button {
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background-color: whitesmoke;
  color: black;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
}
